.flex-wrap {
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}

.night-background {
  background-color: #3a3f47;
}

.black-background {
  background-color: #000;
}

.dark-background {
  background-color: #929a9c3d;
}

@media (min-width: 768px) {
  .dark-background {
    background-color: #4996ac;
  }
}

.grey-background {
  background-color: #929a9c3d;
}

.blue-background {
  background-color: #4996ac;
}

.color-white {
  color: #fff;
}

.color-blue {
  color: #61dafb;
}

.box-shadow {
  box-shadow: 0 5px 5px rgb(52, 49, 49);
}

.padding-20 {
  padding: 0 0 20px;
}

.margin-5 {
  margin: 0 5%;
}

.margin-description {
  margin: 30px 8px 0 30px;
}

.font-24 {
  font-size: 24px;
}

.font-40 {
  font-size: 40px;
}

.position-fixed {
  position: sticky;
  bottom: 0%;
}

.editor-container {
  width: 100%;
  cursor: pointer;
  border: rgb(0, 0, 0) solid 1.5px;
}

.logo {
  border-radius: 100px;
  position: absolute;
  left: 0%;
  margin-top: 8px;
  width: 108px;
  height: 85px;
}

@media (max-width: 768px) {
  .logo {
    width: 98px;
    height: 78px;
  }
}

@media (max-width: 478px) {
  .logo {
    width: 60px;
    height: 52px;
  }
}

.title {
  color: #61dafb;
  font-size: 36px;
  padding: 10px 0;
}

@media (max-width: 478px) {
  .title {
    font-size: 22px;
  }
}

.language-tab {
  margin: 30px 10px;
  width: 100px;
  padding: 15px;
  border-radius: 15px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.237);
  box-shadow: 0 5px 15px rgb(0, 0, 0);
  cursor: pointer;
  transition: transform 0.5s;
  pointer-events: auto;
}

.language-tab:hover {
  transform: scale(1.2);
}

@media (min-width: 768px) {
  .language-tab {
    margin: 30px 100px;
    pointer-events: none;
  }

  .language-tab:hover {
    transform: scale(1);
  }
}

@media (min-width: 1400px) {
  .language-tab {
    margin: 30px 120px;
  }
}

.iframe {
  height: 60vh;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.inline {
  display: inline;
}

@media (min-width: 768px) {
  .inline {
    display: none;
  }

  .hidden {
    display: inline;
  }
}

.fa-bars {
  color: #fff;
  font-size: 35px;
  position: absolute;
  right: 3%;
  top: 30px;
  cursor: pointer;
}

@media (max-width: 478px) {
  .fa-bars {
    font-size: 30px;
    top: 2%;
  }
}

.hide {
  display: none;
}

.menu-modal-background {
  background-color: rgba(31, 31, 31, 0.644);
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: 3;
  height: 100vh;
}

@media (min-width: 768px) {
  .menu-modal-background {
    width: 100%;
  }
}

.menu-modal {
  position: fixed;
  top: 0%;
  right: 0%;
  width: 50%;
  height: 100vh;
  background-color: #3a3f47;
  z-index: 3;
  animation: mymove 0.5s 1 ease-in;
}

@keyframes mymove {
  from { right: -10%; }
  to { right: 0%; }
}

@media (min-width: 768px) {
  .menu-modal {
    width: 20%;
  }
}

.menu-modal-content {
  line-height: 5rem;
  font-size: 20px;
  margin-top: 40px;
}

@media (min-width: 768px) {
  .modal-content {
    font-size: 24px;
  }
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  background-color: #4996ac;
}

.border {
  border: #000 solid 1px;
  background-color: #4996ac;
  margin: 8px 15%;
  border-radius: 20px;
  box-shadow: 0 5px 10px #000;
  transition: transform 0.5s;
}

.border:hover {
  transform: scale(1.2);
}

.finish-button {
  margin: 5px 35px;
  padding: 10px 25px;
  border-radius: 15px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.237);
  box-shadow: 0 5px 15px rgb(0, 0, 0);
  background-color: #4996ac;
  cursor: pointer;
  transition: transform 0.5s;
}

.finish-button:hover {
  transform: scale(1.2);
}

.finish-modal-background {
  background-color: rgba(31, 31, 31, 0.488);
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.finish-modal {
  position: fixed;
  top: 20%;
  left: 17.5%;
  width: 65%;
  background-color: #3a3f47;
  z-index: 3;
  padding: 30px 20px 70px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgb(0, 0, 0);
  color: #fff;
}

@media (min-width: 768px) {
  .finish-modal {
    left: 32.5%;
    width: 35%;
    padding: 30px 0 90px;
  }
}

.modal-button {
  margin: 30px 35px 5px;
  width: 25%;
  padding: 15px 25px;
  border-radius: 15px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.237);
  box-shadow: 0 5px 15px rgb(0, 0, 0);
  cursor: pointer;
  transition: transform 0.5s;
}

@media (max-width: 1100px) {
  .modal-button {
    margin: 20px;
    width: 38%;
    font-size: 12px;
  }
}

.modal-button:hover {
  transform: scale(1.1);
}

.input-title {
  width: 60%;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

.background-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.767)), url("./images/background.png");
  background-repeat: repeat-y;
  background-size: cover;
  min-width: 100%;
  height: 105vh;
  padding-bottom: 100px;
}

.card {
  border: #000 solid 1px;
  background-color: #4997ac7e;
  padding: 20px 40px 40px;
  width: 300px;
  height: 200px;
  margin: 30px;
  border-radius: 20px;
  box-shadow: 0 5px 10px #000;
  transition: transform 0.5s;
}

.card:hover {
  transform: scale(1.1);
}

.code {
  border: #000 solid 1px;
  background-color: #292b36;
  width: 40%;
  height: auto;
  padding: 0 30px 30px 0;
  border-radius: 20px;
  box-shadow: 0 5px 10px #000;
  margin-top: 25px;
}

@media (max-width: 478px) {
  .code {
    width: 70%;
  }
}

.code-title {
  color: #61dafbcb;
  font-size: 30px;
  margin-top: 30px;
}

.position-left {
  position: absolute;
  left: 10%;
  top: 50%;
}

.position-center {
  position: absolute;
  top: 30%;
  left: 34%;
}

.position-right {
  position: absolute;
  right: 10%;
  top: 10%;
}

.move-left {
  animation: moveleft 4s;
}

@keyframes moveleft {
  from { left: -10%; }
  to { left: 10%; }
}

.move-right {
  animation: moveright 4s;
}

@keyframes moveright {
  from { right: -10%; }
  to { right: 10%; }
}

.fade-in-image {
  animation: fadein 5s;
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.object-contain {
  object-fit: cover;
}

.button {
  width: 200px;
  padding: 20px;
  border-radius: 15px;
  font-size: 26px;
  color: rgb(255, 255, 255);
  background-color: #4996ac;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.237);
  box-shadow: 0 5px 15px rgb(0, 0, 0);
  cursor: pointer;
}

.get-started-button {
  width: 150px;
  padding: 2%;
  border-radius: 15px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: #4996ac;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.237);
  box-shadow: 0 5px 15px rgb(0, 0, 0);
  cursor: pointer;
  margin-top: 40px;
}

.margin-top {
  margin-top: 120%;
}

.description {
  color: #61dafb;
  font-size: 16px;
  padding: 10px;
}
